$card-color:hsl(0, 0%, 100%);
$bg-color:hsl(212, 45%, 89%);
$text-color:hsl(220, 15%, 55%);
$title-color:hsl(218, 44%, 22%);

//fonts

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
