$primary-color: hsl(216, 12%, 8%);
$secondary-color:hsl(213, 19%, 18%);
$terciary-color:hsl(216, 12%, 54%);
$fourth-color:hsl(217, 12%, 63%);
$text-color:hsl(0, 0%, 100%);
$button-color:hsl(25, 97%, 53%);
$rate-color:hsl(213, 19%, 22%);

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');